*.orig
*.pyc
*.swo
*.swp
*~
.coverage
.django-setup
.eggs
.env
.mypy_cache
.pdm-python
.project
.pydevproject
.python-version
.ropeproject/
.ropeproject/*
.settings
.tox
.vscode
/dist/
/dist/*
/django_pagetools.egg-info/
/old
META-INF
RELEASE-VERSION
build
build.properties
demo/media/_versions/*
demo/media/foo_*
docs/_build
docs/build
htmlcov
tasks.py
node_modules
db.sqlite3
