[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=3.0,<4.0"
django-crispy-forms = "*"
django-grappelli = "*"
beautifulsoup4 = "*"
django-filebrowser = "*"
django-mptt = "*"
django-sekizai = "*"
django-model-utils = "*"
django-simple-captcha = "*"
djangoajax = "*"
Pillow = "*"
sphinx = "*"

[dev-packages]
invoke = "*"
django-debug-toolbar = "*"
sphinx-rtd-theme = "*"
black = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.8"
